### Задание 1
Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки

составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [116]:
from sklearn import datasets

In [117]:
from sklearn.metrics import mean_squared_error, r2_score

In [118]:
from sklearn.datasets import load_boston

In [119]:
boston = load_boston()

In [120]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [121]:
data = boston.data

In [162]:
feature_names = boston.feature_names
x = pd.DataFrame(data, columns=feature_names)

In [163]:
target = boston.target
y = pd.DataFrame(target, columns=['price'])

In [164]:
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [165]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [166]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [127]:
from sklearn.model_selection import train_test_split

In [167]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [168]:
from sklearn.linear_model import LinearRegression

In [169]:
lr = LinearRegression()

In [170]:
lr.fit(X_train, Y_train)

LinearRegression()

In [171]:
 predictions = lr.predict(x_test)

In [172]:
y_pred_lr = lr.predict(X_test)

In [183]:
check_test_lr = pd.DataFrame({"y_test": y_test["price"],
                              "y_pred_lr": y_pred_lr.flatten()},
                            columns=["y_test", "y_pred_lr"])

In [185]:
check_test_lr.head(10)

     y_test  y_pred_lr
173    23.6  28.838854
274    32.4  36.007833
491    13.6  15.083248
72     22.8  25.230909
452    16.1  18.878641
76     20.0  23.213983
316    17.8  17.593112
140    14.0  14.305081
471    19.6  23.054390
500    16.8  20.620083

In [ ]:
### initial_mse = (check_test_lr['y_pred_lr'], check_test_lr['y_test'])
print(initial_mse)

In [192]:
from sklearn.metrics import mean_squared_error

In [248]:
initial_mse = mean_squared_error(y_test, y_pred_lr)
initial_mse

22.098694827098488

### Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,

max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,

но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],

чтобы получить из датафрейма одномерный массив Numpy,

так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [227]:
from sklearn.ensemble import RandomForestRegressor

In [228]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [230]:
clf.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [232]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.660402
274    32.4   30.705781
491    13.6   16.739989
72     22.8   23.644725
452    16.1   16.937232

In [236]:
mean_squared_error_clf = mean_squared_error(check_test_clf["Y_pred_clf"], check_test_clf["Y_test"])
print(mean_squared_error_clf)

10.110068657271116

In [249]:
print(initial_mse, mean_squared_error_clf)

22.098694827098488 10.110068657271116